<?xml version="1.0"?>
<launch>  
  <arg name="ip" default="192.168.1.20"/>  
  <arg name="size" default="110"/>
  <arg name="gcl" default="false"/>

  <!-- Binary protocol -->
  <include unless="$(arg gcl)" file="$(find wsg50_driver)/launch/wsg50.launch">
      <arg name="size" value="$(arg size)"/>
      <arg name="protocol" value="tcp"/>
      <arg name="ip" value="$(arg ip)"/>
      <arg name="port" value="1000"/>
      <arg name="rate" value="5"/>
  </include>

  <!-- Text based protocol -->
  <include if="$(arg gcl)" name="wsg50_driver" pkg="wsg50_driver" type="gcl_tcp_driver.py" output="screen" respawn="true" respawn_delay="5">
      <param name="ip" value="$(arg ip)"/>
      <param name="port" value="$(arg port)"/>
  </include>  

  <node name="register_wsg50_driver" pkg="dnb_component_manager" type="register.py" args="$(find wsg50_driver)/module_config/module.yaml" />

</launch>