<?xml version="1.0"?>
<launch>

    <arg name="size" default="210" />
    <arg name="ip" default="192.168.105.31"/>

    <include file="$(find wsg50_driver)/launch/wsg50.launch">
        <arg name="size" value="$(arg size)"/>
        <arg name="protocol" value="tcp"/>
        <arg name="ip" value="$(arg ip)"/>
        <arg name="port" value="1000"/>
        <arg name="rate" value="50"/>
    </include>

</launch>
